@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant red (&:where([data-theme=red], [data-theme=red] *));

@theme {
  --color-light-blue: oklch(0.88 0.0592 262.47);
  --color-dark-blue: oklch(0.39 0.0592 262.47);

  --color-light-red: oklch(0.71 0.063 24.24);
  --color-dark-red: oklch(0.27 0.063 24.24);
}
